.about-container, .description, .stack, .license, .license > p{
  margin: 1rem;
}

.about-container > h1 {
  text-align: center;
}

.about-container a{
  font-weight: bold;
  color: rgba(2, 2, 175, 0.945);
}