textarea{
  max-height: 3rem;
  min-height: 3rem;
  max-width: 100%;
  min-width: 100%;
}

.comments{
  padding-top: 1rem;
  display: flex;
  flex-direction: column;
  width: 90%;
  align-items: flex-end;
}

.comment{
  text-align: end;
  padding: 1rem 2.5rem;
}