a{
  text-decoration: none;
}
.nav-links li{
  display: inline-block;
  font-size: 1.1rem;
  font-weight: bold;
  border-bottom: 1px solid black;
  list-style: none;
  margin: .5rem .5rem 1rem 0;
  padding: 0 .1rem .1rem .1rem;
}
.header{
  display: flex;
  justify-content: space-between;
}