.nav_links li{
  font-size: 1.3rem;
  padding: .5rem 6rem;
  font-weight: 500;
  list-style: none;
  /* outline: 1px solid black; */
  margin: .5rem 0;
  color: #F86D70;
}

.nav_links{
  position: fixed;
  left: 0;
  width: 100vw;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: rgba(255, 255, 255, 0.897);
}

.header{
  position: sticky;
  top: 0;
  width: 100vw;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  background-color: rgba(255, 255, 255, 0.897);
  z-index: 1;
}

.header img {
  height: 20px;
}

.header div {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.header h1 {
  color: #F86D70;
}