.posts{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: 1rem;
  width: 100%;
}

.post{
  width: 80vw;
  margin: 1rem;
  padding: 1rem;
  border-radius: 20px;
  cursor: pointer;
  background-color: whitesmoke
}

.post > div{
  display: flex;
  margin-top: 1rem;
}

.post > div > p{
  margin-right: .5rem;
}

.post p{
  font-weight: 500;
}

.post-footer{
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.post-cta{
  margin-right: .5rem;
  padding: .5rem 1rem;
  box-shadow: 5px 5px 10px grey;
  border-radius: 10px;
}

.post-author{
  font-size: .8rem;
  padding: .5rem 0;
}

.counts{
  display: flex;
  flex-direction: row;
  margin-right: 1rem;
}

.counts img{
  margin-right: .5rem;
}

.like-count > img {
  width: 25px;
}

.comment-count > img{
  width: 12px;
}

.vote-cta{
  height: 30px;
  color: lightcoral;
}

.vote-cta-active{
  filter: opacity(.5) drop-shadow(0 0 0 red);
  border-bottom: 1px solid red;
}

@media only screen and (min-width: 1080px) {
  .post {
    width: 50vw;
  }
}