.posts{
  margin-top: 1rem;
  width: 100%;
}

.post{
  margin-bottom: 1rem;
  padding: 1rem;
  border-radius: 20px;
  cursor: pointer;
  background-color: rgba(255, 228, 196, 0.199);
}

.post > div{
  display: flex;
  margin-top: 1rem;
}

.post > div > p{
  margin-right: .5rem;
}

.post p{
  font-weight: 500;
}

.post-footer{
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.post-cta{
  margin-right: .5rem;
  padding: .5rem 1rem;
  box-shadow: 5px 5px 10px grey, -5px -5px 10px white;
  border-radius: 10px;
}

.post-author{
  font-size: .8rem;
  padding: .5rem 0;
}